<div class="border rounded bg-white" style="min-width: 120px;">
    <div class="p-1 rounded-top bg-dark text-white d-flex align-items-center justify-content-center">
        Contruir
    </div>
    <div class="d-flex flex-column">
        <div class="p-1 option pointer d-flex align-items-center justify-content-center">
            <small>Coluna</small>
        </div>
        <div class="px-2 mb-3">
            <label for="disabledTextInput" class="form-label">Tamanho</label>
            <input [(ngModel)]="sizeColumn" type="number" min="1" max="12"  class="form-control form-control-sm">
            <button (click)="crateColumn()" class="btn btn-sm btn-primary btm-block mt-1 w-100">criar</button>
        </div>
        <!-- <hr class="m-0">
        <div (click)="create.emit('text-enter')" class="p-1 option pointer px-2 d-flex align-items-center justify-content-center">
            Entrada de Texto
        </div>
        <hr class="m-0">
        <div (click)="create.emit('text-box')" class="p-1 option pointer px-2 d-flex align-items-center justify-content-center">
            Caixa de Texto
        </div>
        <hr class="m-0">
        <div (click)="create.emit('list')" class="p-1 option pointer px-2 d-flex align-items-center justify-content-center">
            Lista
        </div> -->
    </div>
</div>