<app-menu></app-menu>
<div class="container-fluid">
    <div class="p-5 position-relative bg-light rounded-3 mt-3 custom-bg-image">
      <div class="position-absolute d-flex" style="top: 10px;right: 10px;">
        <ng-container *ngIf="!me">
          <button class="btn btn-info text-white ms-2" (click)="joinGroup()"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
        </ng-container>
        <ng-container *ngIf="me">
          <button *ngIf="me.role === 'owner' || me.role === 'admin'" (click)="editingGroup(true)" class="btn btn-info text-white"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
          <button *ngIf="me.role !== 'owner'" (click)="leaveGroup()"  class="btn btn-danger ms-2"><fa-icon [icon]="faSignOutAlt"></fa-icon></button>
        </ng-container>
        
      </div>
        <div class=" container-fluid py-5">
          <h1 class="display-5 fw-bold text-white">{{group.name}}</h1>
        </div>
    </div>
    <div class="d-flex bg-light justify-content-end p-2">
        <p class="mb-0">{{group.owner.username}}<fa-icon class="ms-2" [icon]="faUser"></fa-icon></p>
        <p class="mb-0 mx-2">|</p>
        <p class="mb-0">{{group.userCount}}<fa-icon class="ms-2" [icon]="faUsers"></fa-icon></p>
        <p class="mb-0 mx-2">|</p>
        <p class="mb-0">{{group.createdAt | date:"dd/MM/yyyy"}}<fa-icon class="ms-2" [icon]="faCalendar"></fa-icon></p>
    </div>
    <h4 class="mt-2">Descrição:</h4>
    <div style="min-height: 200px;max-height: 200px; overflow: auto;" class="border p-2 rounded">
        <p>{{group.description}}</p>
    </div>
    

    <ul class="nav nav-tabs mt-3">
        <li 
        (click)="goTo('members')" class="nav-item pointer">
          <a
          [class.active]="lookingFor === 'members'"  
          class="nav-link">Membros</a>
        </li>
        <li
        (click)="goTo('campaigns')" class="nav-item pointer">
          <a
          [class.active]="lookingFor === 'campaigns'"  
          class="nav-link">Campanhas</a>
        </li>
    </ul>
    <ng-container *ngIf="group.id" [ngSwitch]="lookingFor">
        <app-group-members [groupId]="group.id" [me]="me" *ngSwitchCase="'members'"></app-group-members>
        <app-group-campaigns (initCreatingCampaign)="creatingCampaign($event)" [groupId]="group.id" *ngSwitchCase="'campaigns'"></app-group-campaigns>
    </ng-container>
</div>

<div *ngIf="isEditingGroup"  class="position-absolute h-100 bg-white border border-left w-25" style="right: 0; top: 0;">
  <app-edit-group [group]="group" (finishEditingGroup)="editingGroup($event)"></app-edit-group>
</div>

<div *ngIf="isCreatingCampaign"  class="position-absolute h-100 bg-white border border-left w-25" style="right: 0; top: 0;">
  <app-create-campaign [groupId]="group.id" (finishCreatingCampaign)="creatingCampaign($event)"></app-create-campaign>
</div>