<app-menu></app-menu>
<div class="px-2 py-1 bg-light d-flex justify-content-between">
    <button class="btn"> < Retornar a Campanha</button>
    <button (click)="saveNewTemplate()" class="btn btn-primary"> Salvar</button>
</div>

<div class="container border mt-3">
    <div class="row">
        <div class="col-12">
            <app-template-render [toRender]="template"></app-template-render>
        </div>
    </div>
</div>


<div *ngIf="rowConstructorEnabled" class="position-absolute" 
    [style.top]="rowConstructorPosition[0]"
    [style.left]="rowConstructorPosition[1]">
    <app-row-constructor (create)="createOnColumn($event)"></app-row-constructor>
</div>

<div *ngIf="columnConstructorEnabled" class="position-absolute" 
    [style.top]="columnConstructorPosition[0]"
    [style.left]="columnConstructorPosition[1]">
    <app-column-constructor (create)="createOnColumn($event)"></app-column-constructor>
</div>
