<app-menu></app-menu>
<div *ngIf="groups.length" class="container-fluid mt-2">
    <h4>Grupos Encontrados</h4>
    <hr>
    <div class="row">
        <div *ngFor="let group of groups" class="col-12 col-md-3 col-lg-2 mb-3">
            <app-group-card [group]="group.info" [userSignedRole]="group.role"></app-group-card>
        </div>
    </div>

</div>


<div *ngIf="!groups.length" style="top: 0; z-index: -1;" class="h-100 w-100 position-absolute d-flex flex-column text-muted align-items-center justify-content-center">
    <fa-icon [icon]="faSadCry" size="10x"></fa-icon>
    <h4>Nenhum grupo encontrado!</h4>
</div>